<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools">
  <uses-permission android:name="android.permission.POST_NOTIFICATIONS" tools:node="replace" />
  <application>
    <meta-data android:name="dev.assetpipeline.notification_channels" android:resource="@xml/ap_notification_channels" />
  </application>
</manifest>
